html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    position: relative;
    width: 1920px;
    height: 1080px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(.jpg), #FFFFFF;
    background-image: url(../img/bg.png);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    width: 474px;
    height: 249px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 87px;

    color: #FFFFFF;

    margin-left: 60px;
    margin-top: 60px;
}

.subtitle {
    width: 304px;
    height: 58px;
    left: 680px;
    top: 490px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 49px;
    margin-left: 60px;
    margin-top: 50px;

    color: #FFFFFF;
}

.mainBg {
    width: 760px;
    height: 803px;
    background: #051F2B;
    border-radius: 43px;
}

.googleButton {
    margin: 0;
    z-index: 1000;
}

.g-signin2 {
    z-index: 1000;
    width: 200px;
    height: 50px;
}

input {
    background: #051F2B;
    border: none;
    border-bottom: solid 2px gray;
    width: 300px;
    height: 40px;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 30px;
}

.inputsLogIn {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.logIns {
    display: flex;
}

.inputsLogIn2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

#loucura {
    width: 200px;
    transform: scale(1.4);
}


