.header_principal {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 4.5em 0 3em 0;
}

.header_titulo {
    display: flex;
    align-items: center;
}

h1{
    margin-left: 2rem;
    background-color: tomato;
    padding: 0.25em 0.2em 0.25em 0.2em;
    font-size: 52px;
    border-radius: 6px;
}

#span_description{
    margin-left:1rem ;
    font-size: 14px;
}

.nav_principal {
    display: flex;  
}

.nav_principal li {
    list-style: none;
    font-size: 14px;
}

.nav_principal a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin: 2rem;
}

.nav_principal a:hover {
    transition-duration: 1s;
    background-color: black;
    color: white;
}

#welcome {
    color: white;
    background-color: black;
}

.box{
    display: flex;
    justify-content: space-around;
}

.header_introduction {
    display: flex;
    width: 73%;
    justify-content: space-evenly;
    padding: 2em;
    background-color: yellow;
    border-radius: 8px;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 1rem;
}

#title {
    font-size: 56px;
    margin: 1px;
}

#description {
    font-size: 44px;
    margin: 1px;
}

.buttons {
   display: flex;
   flex-direction: column;
   width: 37%;
}

.buttons_display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em 0.9em;
    text-decoration: none;
    font-size: 36px;
}

#button_go {
    background-color: blue;
    color: white;
    border-radius: 8px;
    margin: 1rem;
}

#button_info{
    background-color: tomato;
    color: black;
    border-radius: 8px;
    margin: 1rem;
}

.box_images{
    display: flex;
    justify-content: center;
    padding: 3em 0 3em 0;
}

.images_section img {
    border-radius: 10px;
}

.teste {
    display: flex;
    flex-direction: column;
}

.images_section {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.images_section div {
    background-color: tomato;
    border-radius: 10px;
}

.images_container{
    display: flex;
    flex-direction: column;
    padding: 4em 2em 3em 2em;
    width: 384px;
}

.images_container p{
    font-size: 14px;
}

.images_container h3{
    font-size: 19px;
}

.images_container h4{
    font-size: 14px;
}

.content{
    display: flex;
    justify-content: space-around;
    padding: 5em 0 5em 0;
    background-color: teal;
}

.content_1 {
    display: flex;
    flex-wrap: wrap;
}

.mouse{
    display: flex;
    flex-wrap: wrap;
}































