
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
}

body  {
    background-image: linear-gradient( 45deg,#bd6d8a, #5f4f93);
    
}

.nav {
}

nav{
    position: sticky;
    top: 0;
    width: 64em;
    max-width: calc(100% - 4em);
    padding: 1em;
    background-color: #f7f7f7;
}

.menu_item {
  display: block;
  background-color: tomato;
}

.wrapper {
  width: 64em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
  background-color: #fafbfd;
  border-radius: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.header_principal{
  padding: 6em 4em 3em 4em;
  text-align: center;
}

.img__logo {
  width: 10%;
  margin: 0 405.5;
}

h1 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 3.25em;
  color: #ffffff;
  margin: 13px;
}

a {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

p{
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.text_header_principal {
  font-size: 1.25em;
  letter-spacing: -0.025em;
  margin: 0 0 2em 0;
  color: #FFFFFFA6;
}

a:link {
  text-decoration: none;
  color: #FFFFFFA6;
  border-bottom: dotted 1px;
}

a:visited {
  text-decoration: none;
  color: #FFFFFFA6;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}
